<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>List Rendering</title>

    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <!-- Everything in this div has access to the Vue 'app' -->
    <div id="app">
        <div class="nav-bar"></div>

        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- v-bind: used to dynamically bind an attribute, 'src', to an expression, "image" -->
                    <!-- v-bind directive creates a bond between the 'src' attribute & the data itself -->
                    <!-- refers to the 'image' property in our 'data' in main.js -->
                    <img v-bind:src="image">

                    <!-- short hand way of writing the above code -->
                    <!-- <img :src="image"> -->
                </div>

                <div class="product-info">
                    <!-- Moustache syntax: Refers to the 'product' property in our data in main.js -->
                    <h1>{{ product }}</h1>

                    <!-- v-if by itself or paired with v-else -->
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>


                    <ul>
                        <!-- v-for used on li el for looping over the 'details' array from data in main.js -->
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <ul>
                        <!-- 
                            v-for used on li el for looping over the 'sizes' array from data in main.js 
                            & binding a key to each item as a unique identifier. 
                        -->
                        <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>

                        <!-- Another way of writing the above code -->
                        <!-- <li v-for="(size, index) in sizes" v-bind:key="index">{{ size }}</li> -->
                    </ul>

                    <!-- 
                        when creating lists with v-for, you should give each item a unique key
                        and v-bind:key gives each DOM such a unique key 
                    -->
                    <div v-for="variant in variants" v-bind:key="variant.id">
                        {{ variant.color }}
                    </div>

                    <!-- short hand way of writing the above code -->
                    <!--
                        <div v-for="variant in variants" :key="variant.id">
                            {{ variant.color }}
                        </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- 
        Mount App: To mount the app into our DOM, which effectively 
        plugs our app into the #app div in the html above 
    -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>